<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ title }}</title>

<style>
body{
font-family:system-ui;
max-width:900px;
margin:auto;
padding:40px;
background:#fafafa;
}
</style>

</head>

<body>

{{ content | safe }}

</body>
</html>
